@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

:root {
  --font:        'Montserrat', 'Arial', sans-serif;
  --white:       #fff;
  --black:       #000;
  --light:       #f1f1f1;
  --primary:     #712cf9;
  --secondary:   #1F2021;
  --danger:      #ef4444; 
}

/* * {
  font-family: var(--font);
} */

body {
  background: var(--light);
}

/* Links */   
a,
.wp-core-ui .button-link {
  color: var(--black); 
  text-decoration: none;
}
a:hover, 
a:active, 
a:focus,
.wp-core-ui .button-link:hover,
.wp-core-ui .button-link:focus {
  color: var(--primary); 
  outline: none!important;
  box-shadow: none!important;
}

.wp-core-ui .button-link {
  font-weight: 500;
}

#post-body .misc-pub-post-status:before,
#post-body #visibility:before,
.curtime #timestamp:before,
#post-body .misc-pub-revisions:before,
span.wp-media-buttons-icon:before {
  color: currentColor;
}

html.wp-toolbar {
  padding-top: 40px;
}
#wpadminbar { 
  height: 37px;
  padding-top: 3px;
} 

/* Forms */
input[type=checkbox]:checked::before {
  content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%231e1e1e%27%2F%3E%3C%2Fsvg%3E");
}

input[type=radio]:checked::before {
  background: var(--secondary);
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: var(--primary);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 1px var(--primary);
}

.acf-input-wrap {
  overflow: unset!important; 
}

.acf-field input[type=text] {
  padding: 8px!important;
}

.acf-th {
  text-transform: uppercase;
  font-weight: 700!important;
}

.acf-input-append,
.acf-input-prepend {
  display: flex;
  align-items: center; 
}  

.acf-table .acf-input,
.acf-hl > li {
  display: flex!important; 
}

.acf-input-prepend { 
  order: 1
}

.acf-input-wrap {
  width: 100%;
  order: 2;
}

.acf-input-append { 
  order: 3
}

/* Core UI */
.wp-core-ui .button,
.wp-core-ui .button-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.wp-core-ui .button.hover,
.wp-core-ui .button:hover,
.wp-core-ui .button-secondary:hover,
.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  border-color: var(--black);
  color: var(--black);
}

.wp-core-ui .button.focus,
.wp-core-ui .button:focus,
.wp-core-ui .button-secondary:focus {
  border-color: var(--secondary);
  /* color: var(--black); */
  /* box-shadow: 0 0 0 1px var(--secondary); */
}

.wp-core-ui .button:hover,
.wp-core-ui .button:focus,
.wp-core-ui .button:active {
  color: var(--white);
  background: var(--black);
  border-color: var(--black);
}

.wp-core-ui .button.active,
.wp-core-ui .button.active:focus,
.wp-core-ui .button.active:hover {
  border-color: var(--black);
  color: var(--black);
  box-shadow: inset 0 2px 5px -3px var(--black);
}

.wp-core-ui .button-primary {
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #262626;
  border-color: #161616;
  color: var(--white);
}

.wp-core-ui .button-primary:focus {
  box-shadow: 0 0 0 1px var(--white), 0 0 0 3px var(--secondary);
}

.wp-core-ui .button-primary:active {
  background: var(--black);
  border-color: var(--black);
  color: var(--white);
}

.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover {
  background: var(--secondary);
  color: var(--white);
  border-color: black;
  box-shadow: inset 0 2px 5px -3px black;
}

.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled {
  color: #d1c7c7 !important;
  background: var(--secondary) !important;
  border-color: var(--secondary) !important;
  text-shadow: none !important;
}

.wp-core-ui .button-group > .button.active {
  border-color: var(--secondary);
}

.wp-core-ui .wp-ui-primary {
  color: var(--white);
  background-color: var(--secondary);
}

.wp-core-ui .wp-ui-text-primary {
  color: var(--secondary);
}

.wp-core-ui .wp-ui-highlight {
  color: var(--white);
  background-color: var(--primary);
}

.wp-core-ui .wp-ui-text-highlight {
  color: var(--primary);
}

.wp-core-ui .wp-ui-notification {
  color: var(--white);
  background-color: var(--danger);
}

.wp-core-ui .wp-ui-text-notification {
  color: var(--danger);
}

.wp-core-ui .wp-ui-text-icon {
  color: #f3f1f1;
}

/* List tables */
.wrap .add-new-h2:hover,
.wrap .page-title-action:hover {
  color: var(--white);
  background-color: var(--secondary);
}

.view-switch a.current:before {
  color: var(--secondary);
}

.view-switch a:hover:before {
  color: var(--danger);
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: var(--secondary);
}

#adminmenu, 
#adminmenu .wp-submenu, 
#adminmenuback, 
#adminmenuwrap {
  width: 210px;
}

#adminmenu .wp-submenu {
  left: 210px; 
}

#wpcontent, #wpfooter {
  margin-left: 210px; 
} 

/* #adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: var(--white);
} */ 

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  background-color: var(--light);
  border-bottom-color: var(--light);
}

/* Admin Menu: submenu */
#adminmenu a,
#adminmenu div.wp-menu-image:before {
  color: var(--light);
}

#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: var(--secondary);
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: var(--secondary);
}

#adminmenu .wp-submenu .wp-submenu-head {
  color: #bcbcbc;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #bcbcbc;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  color: var(--primary);
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: var(--white);
}

#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: var(--primary);
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: var(--light);
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top.ab-top-menu,
#adminmenu li>a.menu-top:focus {
  color: var(--white);
  background: var(--primary);
}

/* #adminmenu li > a.menu-top:focus, */
#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top {
  color: var(--white);
  /* background-color: var(--primary); */
  box-shadow: none;
  background-color: #2f2f2f;
}

.ie8 #adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu div.wp-menu-image:before,
#adminmenu a.current:hover div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before,
#adminmenu li a:focus div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li.opensub div.wp-menu-image:before,
#adminmenu li:hover div.wp-menu-image:before {
  color: var(--white);
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-menu-open:not(.opensub) div.wp-menu-image:before {
  /* color: var(--secondary); */
  font-weight: 500;
  box-shadow: none!important; 
}

#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu .wp-submenu-head,
.folded #adminmenu .wp-submenu-head:hover { 
  box-shadow: none!important; 
  font-weight: 500;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: var(--white);
  background: var(--danger);
}

#adminmenu .opensub .wp-submenu { 
  border-radius: 0 5px 5px 0;
}  

/* #adminmenu li.wp-has-submenu:after { 
  display: none!important;
  opacity: 0;
} */

.dashicons-before:before {
  font-size: 16px;
  padding: 9px 0!important;
}

.dashicons,
.dashicons-before:before {
  transition: none!important;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: var(--white);
  background: #0c0c0c;
}

/* Admin Menu: collapse button */
#collapse-button {
  color: #f3f1f1;
}

#collapse-button:hover,
#collapse-button:focus {
  color: var(--primary);
}

#adminmenu {
  margin-top: 15px;
}
#adminmenu:before {
  display: block;  
  content: 'Menu';
  color: white;
  opacity: 0.4;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 0 5px 15px;
  letter-spacing: 0.2em;
}
#adminmenuwrap:before,
#adminmenuwrap:after {
  content: '';
  background: var(--secondary);
  width: 15px;
  height: 15px;
  position: fixed;
  top: 40px;
  left: 210px; 
}
#adminmenuwrap:after {
  z-index: 5;
  border-color: var(--light);
  background: var(--light);
  border-radius: 10px 0 0 0;
}

.folded #adminmenuwrap:before,
.folded #adminmenuwrap:after { 
  left: 36px; 
}

.folded #adminmenu:before,
#wp-admin-bar-new-content,
#wp-admin-bar-wp-logo, 
.wp-not-current-submenu.wp-menu-separator,
#footer-left { 
  display: none;
}

ul#adminmenu a.wp-has-current-submenu:after, 
ul#adminmenu>li.current>a.current:after {
  right: -3px;
}

/* #wp-admin-bar-site-name .ab-item,
#wp-admin-bar-site-name .ab-item:hover {
  background: url('https://orbital.company/images/logo.svg') center center no-repeat;
  position: absolute;
  width: 70px!important;
  height: 70px!important;
  text-indent: -9999px;
  background-size: 100%; 
  position: absolute;
  top: 00;
  left: 55px;
  border-radius: 1000%;
  padding: 0!important;
} */

#wp-admin-bar-site-name {
  position: relative;
  top: -5px; 
}
#wp-admin-bar-site-name > .ab-item {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  background: var(--secondary);   
  padding: 0 0 9px 0!important;
  width: 210px;
  text-indent: 15px;
}
/* #wp-admin-bar-site-name > .ab-item:after {
  content: ' SITE';
  font-weight: 300;
  font-size: 14px;
  position: relative;
  padding-left: 5px;
  letter-spacing: 0.1em;
} */

.wp-core-ui .attachment-preview {
  border: 4px solid transparent;
  border-radius: 5px; 
}

.wp-core-ui .attachment-preview:hover {
  border-color: var(--primary);
}

.media-frame.mode-grid .attachment:focus {
  box-shadow: none!important;
  outline: none!important;
}

.media-frame.mode-grid .attachment:focus .attachment-preview {
  border-color: var(--secondary);
}

#wp-admin-bar-site-name > .ab-item:hover,
#wp-admin-bar-site-name.hover,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item {
  background: var(--secondary)!important;
}

#wp-admin-bar-site-name .ab-item:before,
#wp-admin-bar-site-name .ab-sub-wrapper { 
  display: none!important;
}

/* Admin Bar */
#wpadminbar {
  color: var(--white);
  background: var(--secondary); 
}

.wrap .page-title-action {
  background: var(--primary); 
  padding: 5px 18px 6px !important;
  border: 0;
  color: var(--white); 
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: var(--white);
}

/* #wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #f3f1f1;
} */

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:hover:before,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: var(--primary);
  background: #0c0c0c;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: var(--primary);
}

/* #wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
  color: var(--white);
} */

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #0c0c0c;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #303030;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
  color: #bcbcbc;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #f3f1f1;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
  color: var(--primary);
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
  color: var(--primary);
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
  color: #f3f1f1;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #f3f1f1;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: var(--white);
  background: #303030;
}

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode {
  color: var(--white);
  background-color: var(--danger);
}

#wpadminbar #wp-admin-bar-recovery-mode .ab-item,
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
  color: var(--white);
}

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
  color: var(--white);
  background-color: var(--danger);
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #303030;
  background-color: #303030;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: var(--white);
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: var(--primary);
}

#wpadminbar #wp-admin-bar-user-info .username {
  color: #bcbcbc;
}

#poststuff .tagsdiv .ajaxtag { 
  display: flex;
}

/* Pointers */
.submitbox .submitdelete {
  text-decoration: none;
  font-weight: 600;
}

.wp-pointer .wp-pointer-content h3 {
  background-color: var(--primary);
  border-color: #eab700;
}

.wp-pointer .wp-pointer-content h3:before,
.tagchecklist .ntdelbutton .remove-tag-icon:before {
  color: var(--primary);
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: var(--primary);
}

/* Media */
.media-item .bar,
.media-progress-bar div {
  background-color: var(--primary);
}

.details.attachment {
  box-shadow: inset 0 0 0 3px var(--white), inset 0 0 0 7px var(--primary);
}

.attachment.details .check {
  background-color: var(--primary);
  box-shadow: 0 0 0 1px var(--white), 0 0 0 2px var(--primary);
}

.media-selection .attachment.selection.details .thumbnail {
  box-shadow: 0 0 0 1px var(--white), 0 0 0 3px var(--primary);
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover:after,
.theme-browser .theme.add-new-theme a:focus:after {
  background: var(--primary);
}

.theme-browser .theme.add-new-theme a:hover span:after,
.theme-browser .theme.add-new-theme a:focus span:after {
  color: var(--primary);
}

.theme-section.current,
.theme-filter.current {
  border-bottom-color: var(--secondary);
}

body.more-filters-opened .more-filters {
  color: var(--white);
  background-color: var(--secondary);
}

body.more-filters-opened .more-filters:before {
  color: var(--white);
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: var(--primary);
  color: var(--white);
}

body.more-filters-opened .more-filters:hover:before,
body.more-filters-opened .more-filters:focus:before {
  color: var(--white);
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: var(--primary);
  color: var(--white);
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
  color: var(--white);
}

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #f3f1f1;
}

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: var(--primary);
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #0c0c0c;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before {
  color: #f3f1f1;
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background: var(--primary);
}

.postbox {
  border: 0;
  box-shadow: none;
}

.postbox-header {
  border-radius: 5px 5px 0 0;
  background: var(--secondary);
}

.postbox-header h2 {
  color: white;
  padding: 12px!important;
}